/****************************************
                GLOBAL SELECTORS
****************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/****************************************
                UTILITY CLASSES
****************************************/

.container {
    --width: calc(100vw - 32px);
    width: clamp(100px, var(--width), 1080px);
    margin-left: auto;
    margin-right: auto;
}

/****************************************
                NAV CLASSES
****************************************/

.[nav-class] {
    /* border: 1px solid #FFF; */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    overflow: hidden;
    margin-top: 1em;
}

.[nav-class] .content {
    display: flex;
}

/*******site logo*******/
.[nav-class] .content .logo {
    margin-right: auto;
}

.[nav-class] .content .logo img {
    height: 40px;
}

/*******menu btn*******/
.[nav-class] .content .menu-btn {
    /* background-color: lightskyblue; */
    cursor: pointer;
    width: 33px;
    height: 33px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.[nav-class] .content .menu-btn .line {
    height: 4px;
    width: 100%;
    background-color: white;
    transition: 300ms ease-in-out;
}

.shown .[nav-class] .content .menu-btn .line {
    width: calc(100% + 8px);
    transform: translateX(100%);
    pointer-events: none;
}

.shown .[nav-class] .content .menu-btn :first-child {
    transform: translateY(350%) rotate(-225deg);
    opacity: 1;
}

.shown .[nav-class] .content .menu-btn :nth-child(2) {
    opacity: 0;
}

.shown .[nav-class] .content .menu-btn :last-child {
    transform: translateY(-350%) rotate(225deg);
    /* opacity: 1; */
}

.[nav-class] .content .nav-content {
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100vw;
    transform: translateY(-100%);
    transition: 300ms ease-in-out;
    z-index: -1;
    display: grid;
    place-items: center;
}

.shown .[nav-class] .content .nav-content {
    transform: translateY(0%);
}

.[nav-class] .content .nav-content ul {
    border: 1px solid white;
    /* height: 100%; */
    display: flex;
    flex-flow: column nowrap;
}

.[nav-class] .content .nav-content ul li:not(:last-child) {
    margin-bottom: 3em;
}

.[nav-class] .content .nav-content ul a {
    color: #FFF;
    background-color: salmon;
    display: block;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.25em;
}